<h1> CREATE A NEW CAT! </h1>
<form class="" action="/cats" method="post">
  <label for="cat[name]">Name: 
    <input type="text" name="cat[name]" value="">
  </label>
  <br>
  <br>
  <label for="cat[sex]">Sex: 
    <input type="radio" name="cat[sex]" value="M"> Male
    <input type="radio" name="cat[sex]" value="F"> Female
    <br>
  </label>
  <br>
  <select name="cat[color]">
    <option value="disabled">--select--</option>
    <option value="green">green</option>
    <option value="blue">blue</option>
    <option value="red">red</option>
    <option value="brown">brown</option>
    <option value="silver">silver</option>
  </select>
  <br>
  <br>
  
  <label for="cat[birth_date]">Bdizzle
        <input type="date" name="cat[birth_date]"/>
  </label>
  
  <br> <br>
  
  <label for="cat[description]"> Kitty descrip <br> <br>
    <textarea rows="3" cols="33" name="cat[description]" value="" wrap="hard"> </textarea>
  </label>
  <br> <br>
  <input type="submit" value="CATZ4DAZE">
  
  
</form>