<h1>Cats index</h1> 

<ul>
  <% @cats.each do |cat| %>
  <li></li>
  <ul>
    <li><%= cat.name %></li>
    <li> <a href="<%= cat_url(cat) %>">SHOW THE CAT!</a> </li>
  </ul>
  <br>
  
  <% end %>
  
</ul>
